<div class="wrapper text center">
  <ul class="list-inline lisy-unstyle">
    <li><%= link_to "Accueil", root_path %></li>
    <li><%= link_to "Utilisateurs", users_path %></li>
    <li><%= link_to "Livres", books_path %></li>
    <li>Emprunter des livres</li>
    <li>Retourner des livres</li>
  </ul>
</div>
