.notice {
  background-color: #80ce91;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  color: white;
}

.alert {
  background-color: #ce4242;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  color: white;
}
